<!DOCTYPE html>
<html lang="ja" class="no-js">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# blog: http://ogp.me/ns/blog#">
<meta charset="utf-8">
<title>title</title>
<meta name="description" content="">
<meta property="og:title" content="">
<meta property="og:type" content="">
<meta property="og:url" content="">
<meta property="og:site_name" content="">
<meta property="og:description" content="">
<meta property="og:image" content="">
<%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/styles/monokai.min.css">
<%= stylesheet_link_tag 'style' %>
<%= javascript_include_tag "modernizr-2.8.3.min" %>
</head>
<body>
<div id="wrapper">
  
  <div class="aboveFooter">
    <header id="header" role="banner">
      <div id="headInner">
        <h1 class="logo"><%= link_to 'You are what you eat', '/' %></h1>
      </div>
      <!-- /header -->
    </header>
    
    <div id="content">
      <main id="main" role="main">
        
        <%= yield %>
        
        <!-- /main -->
      </main>
      <!-- /content -->
    </div>
    <!-- /aboveFooter -->
  </div>
  
  <footer id="footer" role="contentinfo">
    <div id="footInner">
      <div class="about">
        <ul class="social">
          <li><a href="https://twitter.com/kyaido" target="_blank"><i class="icon-twitter"></i></a></li>
          <li><a href="https://github.com/kyaido" target="_blank"><i class="icon-github"></i></a></li>
          <li><%= link_to "<i class=\"icon-feed\"></i>", "#{blog.options.prefix.to_s}/feed.xml", :target => "_blank" %></li>
        </ul>
      </div>
    </div>
    <!-- /footer -->
  </footer>
  
  <!-- /wrapper -->
</div>
<%= javascript_include_tag "jquery-1.11.1.min" %>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/highlight.min.js"></script>
<%= javascript_include_tag "common" %>
<script>hljs.initHighlightingOnLoad();</script>
</body>
</html>